---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Oh! Parece que esta página se perdió en el espacio sideral...",
  title: "Oh! Página no encontrada",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">404 | Oh oh... Algo salió mal...</h1>
  <p class="mb-8">Por favor, usa el navegador para volver atrás.</p>
</PageLayout>
